[submodule "NoahGameFrame/Dep/concurrentqueue"]
	path = NoahGameFrame/Dep/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
	branch = master
[submodule "Dependencies/boost"]
	path = Dependencies/boost
	url = https://github.com/boostorg/boost.git
	branch = master
